@import '../ui-variables';

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $block-shadow;
  border-radius: $border-radius;
  background: $block-background-color;
}

.block:hover {
  box-shadow: $box-shadow-hover;
}

.block__label {
  margin: 5px;
  font-size: $font-size;
  color: rgba(0,0,0,0.6);
  cursor: default;
}

.block__width {
  margin: 0;
  color: rgba(0,0,0,0.5);
}

input {
  width: 30%;
  padding: 3px;
  border-radius: $border-radius;
  border: 1px solid rgba(0,0,0,0.3);
}

input:focus {
  outline-color: cornflowerblue;
}
