$box-shadow: 0 0 8px 1px rgba(0,0,0,0.2);
$border-radius: 3px;

$block-height: 100px;
$block-shadow: 0 1px 8px 1px rgba(0,0,0,0.3);
$box-shadow-hover: 0 1px 13px 1px rgba(0,0,0,0.3);
$block-background-color: lavender;

$font-size: 23px;

$hover-color: #ededf9;
